<nav aria-label="Breadcrumb" 
     class="breadcrumbs" 
     [style.--breadcrumb-link-color]="linkColor()"
     [style.--breadcrumb-separator-color]="separatorColor()">
  <ol>
    <li>
      <a routerLink="/">
        <svg si-icon="home" size="18" class="home-icon"></svg>
      </a>
    </li>
    
    @for (bradcrumb of breadcrumbs(); track $index; let last = $last) {
      <li>
        <svg [si-icon]="separator()" size="16" class="separator"></svg>

        @if (!last) {
          <a [routerLink]="bradcrumb.url">{{ bradcrumb.label }}</a>
        } @else {
          <span class="current" aria-current="page">{{ bradcrumb.label }}</span>
        }
      </li>
    }
  </ol>
</nav>